{% extends "tournament/base.html" %}
{% load tournament_extras %}

{% block title %}{{ bot.name }}{% endblock %}

{% block content %}
    <div class="container">
        <p>{{ bot.name }} - mu: {{ bot.mu|floatformat:3 }}, sigma: {{ bot.sigma|floatformat:3 }}</p>
        {% if matches %}
            <table class="table">
                <tr>
                    <th>Time</th>
                    <th>Opponents</th>
                    <th>Result</th>
                    <th>Dimensions</th>
                    <th>mu</th>
                    <th>sigma</th>
                    <th>View</th>
                </tr>
                {% for match_result in matches %}
                    {% bot_match match_result %}
                {% endfor %}
            </table>
            {% paginate matches %}
        {% else %}
            <p>No match results are available.</p>
        {% endif %}
    </div>
{% endblock %}
