{% load tournament_extras %}

<tr>
    <td>{{ match_result.match.date|date:"d/m/Y" }} {{ match_result.match.date|time:"h:i:s A" }}</td>
    <td>{% result_ordered match_result %}</td>
    <td>{{ match_result.rank }} of {{ match_result.match.results.all|length }}</td>
    <td>{{ match_result.match.width }}x{{ match_result.match.height }}</td>
    <td>{{ match_result.mu|floatformat:3 }}</td>
    <td>{{ match_result.sigma|floatformat:3 }}</td>
    <td>
        <a href="{%  url 'tournament:match' match_result.match.id %}">
            <span class="glyphicon glyphicon-film"></span>
        </a>
    </td>
</tr>
