{% extends "tournament/base.html" %}
{% load tournament_extras %}

{% block title %}Halite Private Tournament - Matches{% endblock %}

{% block content %}
    <div class="container">
        {% if match_list %}
            <table class="table">
                <tr>
                    <th>Time</th>
                    <th>Opponents</th>
                    <th>Dimensions</th>
                    <th>View</th>
                </tr>
                {% for match_result in match_list %}
                    {% match_result match_result %}
                {% endfor %}
            </table>
            {% if is_paginated %}
                {% paginate page_obj %}
            {% endif %}
        {% else %}
            <p>No matches are available.</p>
        {% endif %}
    </div>
{% endblock %}
